<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <% t = Time.now %>
        <h1>Today</h1>
        <p> <%= t.strftime("The Date is %A, %B %d, %Y") %>
    </body>
</html>
