<!DOCTYPE html>
<html>
    <head>
        <title>Date Page</title>
    </head>
    <body>
        <h1>Today</h1>
        <% date = Date.today.strftime("%A, %B %e, %Y") %>
        <p>The date is <%= date %></p>
    </body>
</html>