<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Neil's Second, First View!</title>
  </head>
  <body>
    <h1>Hello World, Again!</h1>
    <p>This HTML code is inside of a '.erb' file</p>
  </body>
</html>
