<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p>"Hello World"</p>
    <p>"This HTML code is inside of a '.erb' file"</p>


  </body>

</html>
