
<!DOCTYPE html>
<html>
  <head>
    <!-- this isn't needed in Sinatra and Rails -> <meta charset="utf-8"> -->
    <!-- This index.erb file is the view -->
    <title>My First View!!</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    <!-- WATCH OUT FOR THEM TYPOS REMEMBER TO SIDE BY SIDE COMPARE-->
  </body>
</html>
