<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First View!</title>
  </head>
  <body>
    <p>Hello World! roger</p>
    <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.

    And this is awesome.</p>
  </body>
</html>
