<!DOCTYPE html>
<html>
  <head>
    <title>My First View!!</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    
    <h1><%= "I love " + "Ruby!!" %></h1>
    <%= 1 + 1 %>
    
    <% if 1 == 2 %>
      <p>1 equals 2.</p>
    <% else %>
      <p>1 does not equal 2.</p>
    <% end %>
  </body>
</html>