<!DOCTYPE html>
<html>
    <head>
        <title>Rob Ciaccio</title>
    </head>
    <body>
        <h1>Rob's Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
    </body>
</html>
