<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Want info? we gots it.</h1>
        <p>This is the info page: Be your best self.</p>
    </body>
</html>
