<!DOCTYPE html>
<html>
  <head>
    <title>Info Page</title>
  </head>
  <body>
      <h1>Info Page</h1>
      <p>This is the info page:  According to the info page, I rock!</p>
      <p>(The info page might be overstating the case just a bit...)</p>
  </body>
</html>      
