<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Info Page</title>
</head>
<body>
  <h1>INFO PAAAaaaAAAaaAAAaaAAaaAAAAGE</h1>
  <p>
    This is the info page: muhfuggah whatchu lookin at
  </p>
</body>
</html>
