<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p>The formula for finding the derivative is F(x) = f(a+h)-f(a)/h </p> 
    </body>
</html>
