<!DOCTYPE html>
<html>
    <head>
        <title>Information</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: more information about me.</p>
    </body>
</html>