<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Here's the info page!</title>
  </head>
  <body>
    <h1>Info Page</h1>
    <p>This is the info page: here's some info about me!</p>
    <p>I love jigsaw puzzles, hiking, and drinking coffee with people I love. Also, I have two orange cats.</p>
  </body>
</html>
