<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Awesome Info View!</title>
</head>
<body>
  <h1>Info Page</h1>
  <p>This is the info page: here's some information about me!</p>
</body>
</html>