<!DOCTYPE html>
<html>
<head>
  <title>My info page</title>
</head>
<body>
  <h1> Bruce Molina's info page</h1>
  <h2> A practice page</h2>
  <p> This hasn't been too hard today thankfully</p>
</body>
</html>