<!DOCTYPE html>
 <html>
     <head>
         <title>The Practice Page bish</title>
     </head>
     <body>
         <h1>Info Page</h1>
         <p>This is the info page: this is why i'm hot</p>
     </body>

     <p> This is why, this is why, this is why i'm hot</p>
 </html>
