<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Guten Tag! Hier kannst du Auskunft finden.</h1>
        <p>This is the info page: here's some information about me!</p>
    </body>
</html>