<!DOCTYPE html>
<html>
  <head>
    <title>Info Page</title>
  </head>
  <body>
    <h1>Info Page</h1>
    <p>This is the info page: here's some information about me!</p>
    <ul>
      <li>My name is Bryan.</li>
      <li>I'm 28 years old.</li>
      <li>I am a software developer!!!</li>
    </ul>
  </body>
</html>