<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: I am learning how to make web apps with Sinatra. Its pc.</p>
    </body>
</html>
