<!DOCTYPE html>
<html>
	<head>
		<title>Info Page</title>
	</head>
	<body>
		<h1>Info Page</h1>
		<p>This is the info page: here's some information about me!</p>
		<p>I love to code, but while I'm watching TV, I love to knit.</p>
	</body>
</html>