<!DOCTYPE html>
<html>
	<head>
		<title>This is the info page:</title>
	</head>

	<body>
		<h1> Dogs Info Page </h1>
		<ul class= "dogs">
			<li>snoopy</li>
			<li>fido</li>
			<li>lassie</li>
		</ul>
	</body>


</html>