<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>This is the info page:</h1>
        <p>INFORMATION.ERB IS WHERE YOU'RE AT</p>
    </body>
</html>
