<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: Hi there! Currently listening to Our Deal by Best Coast</p>
    </body>
</html>
