<!DOCTYPE html>
<html>
    <head>
        <title>Joseph Jimenez Info Page</title>
    </head>
    <body>
        <h1>Joseph Jimenez</h1>
        <p>This is the info page: Born and raised in Los Angeles, CA. I have a wonderful dog named Bear,
        a son named Rhys, and my wife Nadia!</p>
    </body>
</html>
