<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me! Not that you have any interest in it, but feel free to peruse!!</p>
    </body>
</html>