<!DOCTYPE html>
<html>
  <head>
    <title>My Second View!</title>
  </head>
  <body>

    <h1>Info Page</h1>
    <p>This is the info page: you'll find plenty of really fascinating information
    on this page!</p>
  </body>
</html>
