<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This is me writing something inside of the info page. Code baby code!</p>
    </body>
</html>
