<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
      <h1>Info Page</h1>
      <p>This is the info page: here's some information about me!</p><br>
      <h2>Interests</h2>
      <ul>
        <li>Manchester United!</li>
        <li>Tacos!</li>
        <li>Movies!</li>
        <li>Code!</li>
        <li>Exercise!</li>
      </ul>
    </body>
</html>
