<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p>I like to ride bikes!</p>
        <p>I like to eat!</p>
        <span>I love to snowboard and surf!</span>

    </body>
</html>
