<!DOCTYPE html>
<html>
    <head>
        <title>Info Page -- Pagina del informacion!</title>
    </head>
    <body>
        <h1>Hola a todo el mundo!</h1>
        <h1>This is the info page:</h1>
        <p>Aqui vive la informacion!</p>
    </body>
</html>
