<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p>I'm Allie and I'm learning how to code!</p>
        <p>Look at that, I just coded some more!</p>
    </body>
</html>
