<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: My name is Ryan and I am a student at Flatiron School!</p>
    </body>
</html>
