<html>
    <head>
        <title>Info page!</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: My name is Fiona, and my favorite bird is a ruby crowned kinglet.</p>
    </body>
</html>
