<!DOCTYPE html>
<html>
<head>
  <title>Info Page</title>
</head>
<body>
  <h2>THIS IS THE INFORMATION</h2>
  <p>puuuuut thiiiiissss innnnnn youuuurrrrr hed.</p>
  <p>This is the info page:</p>
</body>
</html>