<!DOCTYPE html>
<html>
    <head>
        <title>Informational Sinatra Text</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: Francis Albert "Frank" Sinatra (/sᵻˈnɑːtrə/; December 12, 1915 – May 14, 1998) was an American singer, actor, and producer who was one of the most popular and influential musical artists of the 20th century. Sinatra's music has been considered timeless by many.[2] He is one of the best-selling music artists of all time, having sold more than 150 million records worldwide.[3] Born in Hoboken, New Jersey, to Italian immigrants, he began his musical career in the swing era with Harry James and Tommy Dorsey. He found success as a solo artist after being signed by Columbia Records in 1943, becoming the idol of the "bobby soxers". He released his first album, The Voice of Frank Sinatra, in 1946. Sinatra's professional career had stalled by the early 1950s, and he turned to Las Vegas, where he became one of its best known performers as part of the Rat Pack. His career was reborn in 1953 with the success of From Here to Eternity and his subsequent Academy Award for Best Supporting Actor. He signed with Capitol Records and released several critically lauded albums, including In the Wee Small Hours (1955), Songs for Swingin' Lovers! (1956), Come Fly with Me (1958), Only the Lonely (1958) and Nice 'n' Easy (1960).</p>
    </body>
</html>