<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <h2>My name</h2>
        <p>My name is Daniel. "Daniel" is a example of what is known as an "arbitrary handle." (This is not to be confused with a buggy event handler which handles events arbitrarily.)</p>
    </body>
</html>
