<!DOCTYPE HTML>
<html>
  <head>
    <title>My Second View!!</title>
  </head>

  <body>
    <h1>Info Page</h1>
    <p>This is the info page: here's some information about me!</p>

    <h2>This is my Info Page</h2>
    <p>Welcome to my info page. I won't be providing you much info, though.</p>
    <br>

    <p>Oh, wait! I know: A B C D E F G H I J K L M N O P Q R S T U V W X Y Z . Great! Now you know your ABCs! Woohoo! This calls for cake! Unless you don't eat cake. In that case, you can have some brussel sprouts.</p>

  </body>
</html>
