<!DOCTYPE html>
<html>
    <head>
        <title>My Info Page</title>
    </head>
    <body>
        <h1>Welcome To My Info Page!</h1>
        <p>There is no info at this current time.</p>
    </body>
</html>
