<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Info Page</title>
</head>
<body>
  <h1>Info Page</h1>
  <p>This is the info page: here's some information about me!</p>
  <a href="www.benjaminlouisshapiro.com">Blog</a>
  <a href="http://localhost:9090/">Home</a>
</body>
</html>